body{
    margin: 0;
}

#topbar{
    width: 100%;
    height: 40px;
    border: 2px solid;
}

.fixedwidth{
    width: 1250px;
    margin: 0 auto;
}

#logodiv{
    float: left;
    padding-top: 4px;
    border-right: 1px solid lightgrey;
    padding-right: 10px;
}

#signindiv{
    font-size: 0.9em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    height: 40px;
    border-right: 1px solid lightgrey;
    float: left;
}

#signindiv img{
    position: relative;
    top: 8px;
}

#topmenudiv{
    float: left;
}

#topmenudiv ul{
    margin-top: 0;
    padding: 0;
}

#topmenudiv li{
    list-style: none;
    font-weight: bold;
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    padding: 10px 20px 0 20px;
    border-right: 1px solid lightgrey;
    float: left;
}

#searchdiv{
    padding: 0;
}

#searchdiv input{
    padding: 3px;
    margin: 10px;
    font-size: 0.75em;
    background-color: lightgrey;
    border: none;
    background-image: url("images/magnify.jpg");
    background-repeat: no-repeat;
    background-position: right center;
}