body{
    margin: 0;
}

#topbar{
    width: 100%;
    height: 40px;
}

.fixedwidth{
    width: 1250px;
    margin: 0 auto;
}

#logodiv{
    float: left;
    padding-top: 6px;
    border-right: 1px solid lightgrey;
    padding-right: 10px;
}

#signindiv{
    font-size: 0.9em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    height: 40px;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    float: left;
}

#signindiv img{
    position: relative;
    top: 8px;
}

#topmenudiv{
    float: left;
}

#topmenudiv ul{
    margin-top: 0;
    padding: 0;
}

#topmenudiv li{
    list-style: none;
    font-weight: bold;
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    padding: 10px 20px 0 20px;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    float: left;
}

#searchdiv{
    padding: 0;
}

#searchdiv input{
    padding: 3px;
    margin: 10px;
    font-size: 0.75em;
    background-color: #e6e6e6;
    border: none;
    background-image: url("images/magnify.jpg");
    background-repeat: no-repeat;
    background-position: right center;
}

a:link{
    text-decoration: none;
}

.break{
    clear: both;
}

#newsbar{
    width: 100%;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

#newsbar p{
    padding: 0;
}

#newstxt{
    font-size: 2em;
    float: left;
    margin-top: 20px
}

#uktxt{
    font-size: 1.2em;
    float: left;
    margin-top: 32px;
    margin-left: 15px;
}

#moremenu{
    float: left;
    margin-left: 185px
}

#moremenu li{
    list-style: none;
    font-weight: bold;
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    padding: 20px 40px 0 40px;
    float: left;
}

#content{
    font-size: 1.5em;
}

#welcome{
    float: left;
}

#date{
    float: right;
    padding-right: 20px;
}

#headline{
    float: left;
}

.story{
    padding-top: 1px;
    padding-left: 6px;
}